<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yl.mybatis.mapping.materialsTableMapper">


<resultMap type="org.yl.mybatis.pojo.MaterialsTable" id="BaseResultMap">

<id jdbcType="INTEGER" property="id" column="id"/>

<result jdbcType="VARCHAR" property="code" column="code"/>

<result jdbcType="VARCHAR" property="name" column="name"/>

<result jdbcType="VARCHAR" property="model" column="model"/>

<result jdbcType="VARCHAR" property="unit" column="unit"/>

</resultMap>

<sql id="Base_Column_List"> id, code, name, model, unit </sql>


<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
select 
<include refid="Base_Column_List"/>
from materials_table where id = #{id,jdbcType=INTEGER} 
</select>

<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer"> delete from materials_table where id = #{id,jdbcType=INTEGER} </delete>

<insert id="insert" parameterType="org.yl.mybatis.pojo.MaterialsTable"> insert into materials_table (id, code, name, model, unit) values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}) </insert>


<insert id="insertSelective" parameterType="org.yl.mybatis.pojo.MaterialsTable">
insert into materials_table 

<trim suffixOverrides="," suffix=")" prefix="(">

<if test="id != null"> id, </if>

<if test="code != null"> code, </if>

<if test="name != null"> name, </if>

<if test="model != null"> model, </if>

<if test="unit != null"> unit, </if>

</trim>


<trim suffixOverrides="," suffix=")" prefix="values (">

<if test="id != null"> #{id,jdbcType=INTEGER}, </if>

<if test="code != null"> #{code,jdbcType=VARCHAR}, </if>

<if test="name != null"> #{name,jdbcType=VARCHAR}, </if>

<if test="model != null"> #{model,jdbcType=VARCHAR}, </if>

<if test="unit != null"> #{unit,jdbcType=VARCHAR}, </if>

</trim>

</insert>


<update id="updateByPrimaryKeySelective" parameterType="org.yl.mybatis.pojo.MaterialsTable">
update materials_table 

<set>

<if test="code != null"> code = #{code,jdbcType=VARCHAR}, </if>

<if test="name != null"> name = #{name,jdbcType=VARCHAR}, </if>

<if test="model != null"> model = #{model,jdbcType=VARCHAR}, </if>

<if test="unit != null"> unit = #{unit,jdbcType=VARCHAR}, </if>

</set>
where id = #{id,jdbcType=INTEGER} 
</update>

<update id="updateByPrimaryKey" parameterType="org.yl.mybatis.pojo.MaterialsTable"> update materials_table set code = #{code,jdbcType=VARCHAR}, name = #{name,jdbcType=VARCHAR}, model = #{model,jdbcType=VARCHAR}, unit = #{unit,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER} </update>

</mapper>